[Unit]
Description=Watch for file access in a specific directory
Documentation=man:codot(1)

[Service]
Type=simple
ExecStart=/usr/bin/codotd
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
